<table>
  <thead>
    <th><%= @recipe.name %></th>
  </thead>
  <tbody>
    <tr>
      <td><%= @recipe.directions %></td>
      <td><% @recipe.ingredients.each do |ingredient| %>
          Ingredient: <%= ingredient.component.name %><br />
          Category: <%= ingredient.category.name %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
