<div class="container-fluid center" id="welcome-container">
  <div class="jumbotron opacity">
    <h1>Hello Whiskey!</h1>
    <div class="row">
      <div class="col" id="elegant_image"><%= image_tag("elegant3.png") %></div>
  </div>
    <p class="lead">You look thirsty (and responsible!)<br />Discover what drinks you can make with what you have at home.</p>
  </div>
<div class="container-fluid center">
  <div class="row opacity" id="welcome-steps">
    <div class="col-md-4">
      <h1>Step 1</h1><hr />
      <p class="lead">Gather your ingredients</p>
      <p>Bitters, citrus, whiskey, other spirits -- go find them all!</p>
    </div>
    <div class="col-md-4">
      <h1>Step 2</h1><hr />
      <p class="lead">Find out what you can make</p>
      <%= link_to "Enter your ingredients", recipes_search_path, class: "btn btn-lg" %>
    </div>
    <div class="col-md-4">
      <h1>Step 3</h1><hr />
      <p class="lead">Enjoy</p>
      <p>Shake, stir, and enjoy responsibly.<br />Repeat steps 2 and 3.</p>
    </div>
  </div>
</div>
</div>
