.center {
  text-align: center;
}

.check_boxes.required.control-label{
    display: none;
}

.btn-lg {
  font-size: 40px;
  padding: 28px 55px 28px;
  line-height: 26px;
  text-transform: none;
  font-weight: normal;
  border: black;
  /*background-color: #CBCBCB;*/
}

body {
  color: #000000;
}

.ingredient-row {
  background-color: #f8f8f8;
  padding: 0px 0px 20px 40px;
  margin-bottom: 18px;
  border-radius: 5px;
}

h1 {
  font-weight: bold;
}

h3 {
  font-size: 40px;
}

.jumbotron.h1 {
  font-size: 75;
}

.ingredient_row_container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
